#para1 {text-align: left; color: rgb(238, 234, 234);}
#para2 {text-align: right;color: rgb(238, 234, 234);}
div{
    margin-left: 500px;
}
tr.main{background-color: aliceblue;}
th>a :hover{color: rgb(51, 212, 59);}
tr.main :hover{color: rgb(60, 233, 72);}